/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  gap:5px;
  text-decoration: none;
}
.logo-txt {
  font-size: 2.5rem;
  color: #f79f1a;
  font-weight: 600;
  font-family:"Lobster", serif;;
}
/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #f79f1a;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #f79f1a;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.hero-description span {
  color: #f79f1a;
}
.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #f79f1a;
  font-weight: 700;
}


/**************************/
/* MEALS SECTION */
/**************************/


.section-meals .container .heading-secondary {
  margin-bottom: .6rem;
}
.box-meal,
.food-card {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.food-card:hover,
.box-meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--time {
  background-color: #51cf66;
}

.tag--paleo {
  background-color: #f79f1a;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #f79f1a;
}

.box-meal-img {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/**************************/
/* TESTIMONIALS SECTION */
/**************************/

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}


.about-us {
  display: flex;
  align-items: center;
  margin-top: 11rem!important;
  max-width: 100%;
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("../img/img/about us.png");
  background-size: cover;
  background-position: center;
  padding: 14rem 14rem;
  column-gap: 3.4rem;
  margin: 0 auto;
  
}


.feature {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.4s;
    padding: 1rem;
}

.feature:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.0);
  background: rgba(255, 255, 255, 0.8);
}
.feature-icon {
  color: #f79f1a;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  color: #000;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color:#222;
}

/**************************/
/* CTA SECTION */
/**************************/

.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  /* 2/3 = 66.6% + 1/3 = 33.3% */
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  overflow: hidden;
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  margin-top: 2.5rem;
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #f79f1a;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}


/***********Search API****************/
#list-Items-container {
  justify-content: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 1px;
  padding: 30px;
}
#list-Items-container-favorites {
  justify-content: space-between;
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 1px;
  padding: 30px;
  margin-top: 100px;
}
#details-list-container-whole {
  display: flex;
}
#details-list-container-heading {
  width: auto;
  height: 40px;
  font-size: xx-large;
  font-weight: 900;
  margin-left: 200px;
  margin-top: 10px;

  text-decoration: underline;
}
#details-list-container {
  width: 40%;
  height: auto;
  font-size: large;
  font-weight: 800;
  margin-left: 400px;
  margin-top: 100px;
}
#details-list-container-image {
  width: 350px;
  height: 350px;
  margin-top: 100px;
}
#details-list-container-image > img {
  width: 350px;
  height: 350px;
}
.food-card {
  border: 2px solid rgb(252, 245, 243);
  border-radius: 20px;
  height: 500px;
  width: 400px;
  background: #fdf2e9;
  margin: 10px;
}
.food-card-image > img {
  height: 350px;
  width: 400px;
  border-radius: 30px;
}

.food-card-info {
  margin-top: 10px;
  font-size: 2rem;
  padding: 1rem;
  color: #333;
  text-decoration: underline;
}
.food-card-info > h3 {
  padding: 3px;
}
#inputText {
  width: 40%;
  height: 3.2rem;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.04);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.04);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.04);
}

#btn {
  width: 70px;
  height: 40px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.04);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.04);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.04);
}
.form-container {
  margin-top: 15vh;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
}
.Heading > h1 {
  font-size: 100px;
  text-decoration: underline;
  align-items: center;
}
.food-card-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
}
.food-card-features > button {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  border: none;
  font-weight: 600;
  background-color: #51cf66;
  
}

